$color-blue: #4374b7;
$color-blue-hover: #2d5b9a;

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.first_section {
    display: block;
    width: 100%;
    padding: 82px 0;
    background: url(/img/background.jpg) center right no-repeat;
    background-size: contain;
    overflow: hidden;

    .wrapper {
        display: flex;
        align-items: stretch;
        align-content: stretch;
    }

    &-image {
        display: block;

        img {
            display: block;
            width: 130%;
            height: auto;
        }
    }

    h2 {
        display: block;
        margin: 0 0 30px;
        font-family: "Raleway", sans-serif;
        font-size: 32px;
        line-height: 38px;
        font-weight: 700;
        color: $color-blue;
    }

    h1 {
        display: block;
        margin: 0 0 30px;
        font-family: "Raleway", sans-serif;
        font-size: 72px;
        line-height: 120%;
        font-weight: 700;
        color: #313131;
    }

    p {
        display: block;
        margin: 0 0 45px;
        font-family: "Raleway", sans-serif;
        font-size: 24px;
        line-height: 120%;
        font-weight: 400;
        color: #414141;
    }

    nav {
        display: flex;
        width: 100%;

        a {
            display: block;
            padding: 10px 15px;
            border-radius: 4px;
            font-family: "Raleway", sans-serif;
            font-size: 24px;
            line-height: 120%;
            font-weight: 400;
            text-decoration: none;

            &:nth-of-type(1) {
                margin-right: 15px;
            }
        }

        .signin {
            color: #ffffff;
            background-color: $color-blue;
            transition: background linear .2s;

            &:hover {
                background-color: $color-blue-hover;
            }
        }

        .signout {
            border: $color-blue solid 1px; 
            color: $color-blue;
            transition: all linear .2s;

            &:hover {
                color: #ffffff;
                border-color: $color-blue-hover;
                background-color: $color-blue-hover;
            }
        }
    }
}