// Размеры макета
$width: 1180px;
$margin: 15px;
$padding-site: 113px;
$section-width: 265px;  

// Цвета
$color-blue: #4374b7;
$color-blue-hover: #2d5b9a;
$color-orange: #ff9800; 
$color-red: #d13814;

$color-green: #15aa2d;

$background: #f9f9f9;


// normalize

.body {
    margin: 0;
    padding: 0;
}
