// Размеры макета
$width: 1180px;
$margin: 15px;
$padding-site: 113px;
$section-width: 265px;  

// Цвета
$color-blue: #4374b7;
$color-blue-hover: #2d5b9a;
$color-orange: #ff9800; 
$color-red: #d13814;

$color-green: #15aa2d;

$background: #f9f9f9;

*::selection {
    background-color: #E3F2FD;
}

// Grid
$content-width: 1200px;
$column-count: 12;
$column-spase: 15px;
$column-width: ($content-width / $column-count) - ($column-spase * 2); // 70px

@for $i from 1 through $column-count {
    .col-#{$i} {
        width: ($column-width * $i) + (($i - 1) * ($column-spase * 2));
        margin: 0 $column-spase;
    }
}