.autorization {
    background: url(/img/background.png) no-repeat;
    background-size: cover;
    padding-top: 108px;
    display: flex;
    flex-direction: column;

    h1 {
        margin: 0 auto;
        padding-bottom: 40px;
        color: #FFFFFF;
        font: 36px/42px "Raleway Bold";
    }

    .autorization-field {
        display: flex;
        width: 400px;
        margin: 0 auto;
        flex-direction: column;
        background: white;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        padding-top: 40px;

        h2 {
            margin: 0 auto;
            padding-bottom: 30px;
            font: 30px/35px "Raleway Bold";
        }

        input {
            width: 290px;
            height: 44px;
            margin: 0 auto 30px auto;
            padding-left: 15px;
            font: 18px/21px "Raleway Regular";
        }

        .autorization-social {
            display: flex;
            margin: 12px auto 60px auto;
            padding-left: 25px;
            align-content: center;

            a {
                width: 30px;
                height: 30px;
                text-decoration: none;
                margin: 0 30px 0 0;
            }
        }

        .autorization-button {
            margin: 0 auto 40px auto;
            width: 160px;
            height: 50px;
            font: 24px/28px "Raleway Bold";
            background: #0C75BB;
            color: #FFFFFF;
            border-radius: 5px;
        }
    }
}