.home {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 45px auto;
    width: 100%;
    max-width: $width;
    box-sizing: border-box;

    .home-section {
        display: flex;
        flex-direction: column;
        width: $section-width;
        margin: 0 $margin;

        .home-section-header {
            font: 700 30px/30px "Raleway Bold";
            color: #313131;
            margin: 0 0 9px 0;
            padding: 0;
        }
    }
}