$taskwidth: 263px;

.task {
    width: $taskwidth;
    position: relative;
    background-color: #ffffff;
    box-shadow: 0 0 16px 0 #e7e7e7;
    padding: 15px;
    box-sizing: border-box;
    margin: 7px 0;
}

.task-header {
    margin: 0;
    padding: 0;
    font: 700 18px/18px "Raleway Bold";
    color: #313131;
}
.task-category {
    margin: 4px 0 0 0;
    padding: 0;
    font: 400 14px/14px "Raleway Regular";
    color: #929292;
}
.task-time-container {
    margin: 17px 0 0 0;
    padding: 0;
    .task-time {
        display: block;
        font: 400 14px/14px "Raleway Regular";
        color: #929292;
        margin: 0 0 5px 0;
    }
}
.task-status {
    margin: 17px 0 0 0;
    .task-status-text {
        font: 400 14px/14px "Raleway Regular";
    }
    .task-status-text-completed {
        color: $color-green;
    }
    .task-status-text-late {
        color: $color-orange;
    }
}

.task-controls {
    margin: 17px 0 0 0;
    .task-control-start {
        font: 400 14px/14px "Raleway Regular";
        color: $color-blue;
        background-color: transparent;
        border: 0;
        padding: 0;
        margin: 0 14px 0 0;
    }
    .task-control-start, .task-control-start:active,
    .task-control-start:focus {
        outline: none;
    }
    .task-control-del {
        font: 400 14px/14px "Raleway Regular";
        color: $color-red;
        background-color: transparent;
        border: 0;
        padding: 0;
    }
    .task-control-del, .task-control-del:active,
    .task-control-del:focus {
        outline: none;
    }
}

.task-bookmark {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 241px;
    top: -2px;
    .task-bookmark-svg {
        fill: $color-green;
    }
}