.tasks {
    display: flex;
    justify-content: space-between;
    padding: 45px 113px 0px 113px;
    width: 100%;
    box-sizing: border-box;
    .tasks-section {
        display: flex;
        flex-direction: column;
        width: 263px;
        .tasks-section-header {
            font: 700 30px/30px "Raleway Bold";
            color: #313131;
            margin: 0 0 9px 0;
            padding: 0;
        }
    }
}